<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    
    <servlet>
	    <servlet-name>videos</servlet-name>
	    <servlet-class>app.Servlet.Videos.VideosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>videos</servlet-name>
        <url-pattern>/videos</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>videos.popular</servlet-name>
        <servlet-class>app.Servlet.Videos.PopularVideosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>videos.popular</servlet-name>
        <url-pattern>/videos/popular</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>video.stats.tag</servlet-name>
        <servlet-class>app.Servlet.Stats.VideoTagServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>video.stats.tag</servlet-name>
        <url-pattern>/video/stats/tag</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>video.stats.impression</servlet-name>
        <servlet-class>app.Servlet.Stats.VideoImpressionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>video.stats.impression</servlet-name>
        <url-pattern>/video/stats/impression</url-pattern>
    </servlet-mapping>

</web-app>
